// フォントの設定
$single_regular: "Satoshi",
'Noto Sans JP',
sans-serif;
$single_bold: "Satoshi",
'Noto Sans JP',
sans-serif;

$darkgray: #111111;
$white: #ffffff;
// スコアボードの色を変更したい場合、下記を変更してください
$single_scorecolor: $darkgray;
$single_playercolor: $darkgray;
$single_statuscolor: $white;

// フォントの太さの設定（ライトウェイト）
@mixin single_regularWeight {
  font-family: $single_regular;
  font-variation-settings: 'wght'400;
  font-weight: 400;
}

// フォントの太さの設定（ボールドウェイト）
@mixin single_boldWeight {
  font-family: $single_bold;
  font-variation-settings: 'wght'900;
  font-weight: 900;
}

// スコアの設定
@mixin single_scoreText {
  @include single_boldWeight;
  margin: 0;
  width: 60px;
  color: $single_scorecolor;
  text-align: center;
  font-size: 40px;
  position: fixed;
}

// スコアの位置指定
#single_numberleft {
  @include single_scoreText;
  left: 800px;
  top: 47px;
}

#single_numberright {
  @include single_scoreText;
  right: 800px;
  top: 47px;
}

// チーム名及びプレイヤー名の設定
@mixin single_teamText {
  color: $single_playercolor;
  text-align: center;
  font-size: 27px;
  letter-spacing: 1px;
  line-height: 27px;
  @include single_regularWeight;
}

@mixin single_nameText {
  color: $single_playercolor;
  text-align: center;
  font-size: 27px;
  line-height: 27px;
  letter-spacing: 1px;
  @include single_boldWeight;
}

// プレイヤー名の位置指定
.single_player {
  margin: 0;
  width: 460px;
  height: 60px;
  position: fixed;
  text-align: center;

  span {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}

#single_playerleft {
  left: 320px;
  top: 60px;
}

#single_playerright {
  right: 320px;
  top: 60px;
}

#single_nameleft,
#single_nameright {
  @include single_nameText;
}

#single_teamleft,
#single_teamright {
  @include single_teamText
}

// 試合ステータス（Winners Semis, Best of 3など）の設定
@mixin single_statusText {
  @include single_boldWeight;
  width: 215px;
  margin-left: 15px;
  margin: 0;
  color: $single_statuscolor;
  text-align: left;
  font-size: 17px;
  line-height: 20px;
  font-style: italic;
  letter-spacing: 2px;
}

.single_prbox {
  width: 215px;
  height: 60px;
  position: fixed;
  top: 44px;
  left: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// 試合ステータスの位置設定
#single_prtextleft {
  @include single_statusText;
}

#single_prtextright {
  @include single_statusText;
}

.single_logobox {
  height: 100px;
  width: 200px;
  position: fixed;
  left: 860px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single_logo {
  max-height: 100%;
  max-width: 100%;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3));
}