// フォントの設定
$solid_regular: "Satoshi",
'Noto Sans JP',
sans-serif;
$solid_bold: "Satoshi",
'Noto Sans JP',
sans-serif;

$darkgray: #111111;
$white: #ffffff;
// スコアボードの色を変更したい場合、下記を変更してください
$solid_scorecolor: $white;
$solid_playercolor: $darkgray;
$solid_statuscolor: $white;

// フォントの太さの設定（ライトウェイト）
@mixin solid_regularWeight {
  font-family: $solid_regular;
  font-variation-settings: 'wght'400;
  font-weight: 400;
}

// フォントの太さの設定（ボールドウェイト）
@mixin solid_boldWeight {
  font-family: $solid_bold;
  font-variation-settings: 'wght'900;
  font-weight: 900;
}

// スコアの設定
@mixin solid_scoreText {
  @include solid_boldWeight;
  margin: 0;
  width: 60px;
  color: $solid_scorecolor;
  text-align: center;
  font-size: 40px;
  position: fixed;
}

// スコアの位置指定
#solid_numberleft {
  @include solid_scoreText;
  left: 770px;
  top: 46px;
}

#solid_numberright {
  @include solid_scoreText;
  right: 770px;
  top: 46px;
}

// チーム名及びプレイヤー名の設定
@mixin solid_teamText {
  color: $solid_playercolor;
  text-align: center;
  font-size: 27px;
  letter-spacing: 1px;
  line-height: 24px;
  @include solid_regularWeight;
}

@mixin solid_nameText {
  color: $solid_playercolor;
  text-align: center;
  font-size: 27px;
  line-height: 24px;
  letter-spacing: 1px;
  @include solid_boldWeight;
}

// プレイヤー名の位置指定
.solid_player {
  margin: 0;
  width: 430px;
  height: 60px;
  position: fixed;
  text-align: center;

  span {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}

#solid_playerleft {
  left: 320px;
  top: 62px;
}

#solid_playerright {
  right: 320px;
  top: 62px;
}

#solid_nameleft,
#solid_nameright {
  @include solid_nameText;
}

#solid_teamleft,
#solid_teamright {
  @include solid_teamText
}

// 試合ステータス（Winners Semis, Best of 3など）の設定
@mixin solid_statusText {
  @include solid_boldWeight;
  width: 220px;
  margin: 0;
  color: $solid_statuscolor;
  text-align: center;
  font-size: 17px;
  line-height: 20px;
  font-style: italic;
  letter-spacing: 1px;
}

.solid_prbox {
  width: 220px;
  height: 60px;
  position: fixed;
  top: 44px;
  left: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// 試合ステータスの位置設定
#solid_prtextleft {
  @include solid_statusText;
}

#solid_prtextright {
  @include solid_statusText;
}

// 選手IDの位置設定
@mixin solid_idText {
  @include solid_boldWeight;
  width: 220px;
  height: 30px;
  margin: 0;
  color: $white;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1px;
  position: fixed;
}

#camera_left {
  @include solid_idText;
  left: 20px;
  top: 845px;
}

#camera_right {
  @include solid_idText;
  right: 20px;
  top: 845px;
}

.solid_logobox {
  height: 160px;
  width: 280px;
  position: fixed;
  left: 820px;
  top: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.solid_logo {
  max-height: 100%;
max-width: 100%;
filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3));
}