@import "dual";
@import "single";
@import "solid";
@import "simple";
@import "next";
@import "nextsimple";
@import "bracketsimple";

html {
  background-color: rgb(0 0 0 / 0%);
}

.board {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
}

.disable {
  display: none;
}

#__bs_notify__ {
  display: none !important;
}
