// フォントの設定
$regular: "Satoshi", "Noto Sans JP", sans-serif;
$medium: "Satoshi", "Noto Sans JP", sans-serif;
$bold: "Satoshi", "Noto Sans JP", sans-serif;
$black: "Satoshi", "Noto Sans JP", sans-serif;

// フォントの太さの設定（ライトウェイト）
@mixin regularWeight {
  font-family: $regular;
  font-variation-settings: "wght" 400;
  font-weight: 400;
}

// フォントの太さの設定（ミディアムウェイト）
@mixin mediumWeight {
  font-family: $medium;
  font-variation-settings: "wght" 500;
  font-weight: 500;
}

@mixin boldWeight {
  font-family: $bold;
  font-variation-settings: "wght" 700;
  font-weight: 700;
}

// フォントの太さの設定（ブラックウェイト）
@mixin blackWeight {
  font-family: $black;
  font-variation-settings: "wght" 900;
  font-weight: 900;
}

@mixin score {
  position: absolute;
  margin: 0;
  color: var(--score-color);
  text-align: center;
}

.board {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  opacity: 1;
}

.disable {
  display: none;
}

#__bs_notify__ {
  display: none !important;
}

// 選手IDの位置設定
@mixin idText {
  position: absolute;
  top: 1040px;
  width: 220px;
  height: 30px;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: var(--player-color);
  letter-spacing: 1px;
}

.cameraLeft {
  @include idText;

  left: 25px;
  text-align: left;
}

.cameraRight {
  @include idText;

  right: 25px;
  text-align: right;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}
