@import "components/obs/score/base";

// 試合ステータス（Winners Semis, Best of 3など）の設定
@mixin status {
  @include blackWeight;

  position: absolute;
  top: 96px;
  width: 410px;
  margin: 0;
  font-size: 19px;
  font-style: italic;
  color: var(--status-color);
  text-align: center;
  letter-spacing: 1px;
}

.dual {
  // スコアの位置指定
  .score {
    @include score;

    top: 36px;
    width: 42px;
    font-family: "Futura PT Heavy", Satoshi, "Noto Sans JP", sans-serif;
    font-size: 50px;
    font-variation-settings: "wght" 700;
    font-weight: 700;
    color: #a893ff;
    text-align: center;

    &.p1 {
      left: 906px;
    }

    &.p2 {
      right: 906px;
    }
  }

  .player {
    position: absolute;
    top: 44px;
    width: 520px;
    height: 70px;
    text-align: center;

    span {
      margin-left: 14px;

      &:first-child {
        margin-left: 0;
      }
    }

    &.p1 {
      left: 344px;
    }

    &.p2 {
      right: 344px;
    }

    .team {
      font-family: "C4 ゴシック・ドゥ RE 04", Satoshi, "Noto Sans JP",
        sans-serif;
      font-size: 32px;
      line-height: 32px;
      color: #a893ff;
      text-align: center;
    }

    .name {
      font-family: "C4 ゴシック・ドゥ RE 04", Satoshi, "Noto Sans JP",
        sans-serif;
      font-size: 32px;
      line-height: 32px;
      color: #fff;
      text-align: center;
    }
  }

  // 試合ステータスの位置設定
  .round {
    position: absolute;
    top: 58px;
    left: 28px;
    width: 264px;
    font-family: "Bebas Kai", Satoshi, "Noto Sans JP", sans-serif;
    font-size: 30px;
    font-variation-settings: "wght" 900;
    font-weight: 900;
    line-height: 36px;
    color: #fff;
    text-align: left;
  }

  .matchType {
    position: absolute;
    top: 25px;
    left: 876px;
    width: 170px;
    font-family: "Bebas Kai", Satoshi, "Noto Sans JP", sans-serif;
    font-size: 30px;
    font-variation-settings: "wght" 900;
    font-weight: 900;
    line-height: 30px;
    color: #fff;
    text-align: center;
  }

  .cameraRight,
  .cameraLeft {
    color: var(--bb-white);
  }

  .tournamentNameBox {
    position: absolute;
    top: 48px;
    left: 870px;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    height: 50px;
  }

  .tournamentName {
    @include mediumWeight;

    display: none;
    font-size: 17px;
    line-height: 19px;
    color: var(--player-color);
    text-align: center;
    letter-spacing: 2px;
    white-space: pre;
  }

  // 大会ロゴの設定
  .logobox {
    position: absolute;
    top: 25px;
    left: 850px;
    display: none;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 120px;
  }
}
