@import "components/obs/score/base";

// 試合ステータス（Winners Semis, Best of 3など）の設定
@mixin status {
  @include blackWeight;

  position: absolute;
  top: 96px;
  width: 410px;
  margin: 0;
  font-size: 19px;
  font-style: italic;
  color: var(--status-color);
  text-align: center;
  letter-spacing: 1px;
}

.dual {
  // スコアの位置指定
  .score {
    @include score;
    @include blackWeight;

    top: 52px;
    width: 60px;
    font-family: "Azeret Mono Semibold", sans-serif;
    font-size: 35px;
    color: #0f181e;

    &.p1 {
      left: 895px;
    }

    &.p2 {
      right: 891px;
    }
  }

  .player {
    position: absolute;
    top: 56px;
    width: 390px;
    height: 50px;
    margin: 0;
    text-align: center;

    span {
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
    }

    &.p1 {
      left: 500px;
    }

    &.p2 {
      right: 496px;
    }

    .team {
      @include mediumWeight;

      font-family: "Source Han Serif SemiBold", sans-serif;
      font-size: 27px;
      line-height: 27px;
      color: #bfb4ba;
      text-align: center;
    }

    .name {
      @include blackWeight;

      font-family: "Source Han Serif Heavy", serif;
      font-size: 27px;
      line-height: 27px;
      color: #bfb4ba;
      text-align: center;
    }
  }

  // 試合ステータスの位置設定
  .round {
    @include status;

    top: 57px;
    left: 52px;
    width: 250px;
    font-family: "Source Han Serif Heavy", serif;
    font-size: 18px;
    color: #0f181e;
    text-align: center;
    letter-spacing: 0;
  }

  .matchType {
    @include status;

    top: 42px;
    left: 900px;
    width: 130px;
    font-family: "Azeret Mono Semibold", sans-serif;
    font-size: 17px;
    color: #0f181e;
    text-align: center;
    letter-spacing: 0.4em;
  }

  .cameraRight,
  .cameraLeft {
    color: var(--bb-white);
  }

  .tournamentNameBox {
    position: absolute;
    top: 48px;
    left: 870px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    height: 50px;
  }

  .tournamentName {
    display: none;
    @include mediumWeight;

    font-size: 17px;
    line-height: 19px;
    color: var(--player-color);
    text-align: center;
    letter-spacing: 2px;
    white-space: pre;
  }

  // 大会ロゴの設定
  .logobox {
    position: absolute;
    top: 25px;
    left: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 120px;
  }
}
