@import "components/obs/score/base";

// 試合ステータス（Winners Semis, Best of 3など）の設定
@mixin status {
  @include boldWeight;

  width: 410px;
  margin: 0;
  color: var(--status-color);
  text-align: center;
  font-size: 19px;
  position: absolute;
  font-style: italic;
  letter-spacing: 1px;
  top: 96px;
}

.dual {
  // スコアの位置指定
  .score {
    @include score;
    @include boldWeight;

    width: 75px;
    font-size: 54px;
    top: 44px;

    &.p1 {
      left: 365px;
    }

    &.p2 {
      right: 365px;
    }
  }

  .player {
    margin: 0 0 0 10px;
    position: absolute;
    text-align: center;
    width: 410px;
    height: 50px;
    top: 59px;

    span {
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
    }

    &.p1 {
      left: 460px;
    }

    &.p2 {
      right: 460px;
    }

    .team {
      @include regularWeight;

      color: var(--player-color);
      text-align: center;
      font-size: 25px;
      letter-spacing: 1px;
      line-height: 25px;
    }

    .name {
      @include boldWeight;

      color: var(--player-color);
      text-align: center;
      font-size: 25px;
      line-height: 25px;
      letter-spacing: 1px;
    }
  }

  // 試合ステータスの位置設定
  .round {
    @include status;

    left: 465px;
  }

  .matchType {
    @include status;

    right: 465px;
  }

  .cameraRight,
  .cameraLeft {
    color: var(--bb-white);
  }

  .tournamentNameBox {
    width: 180px;
    height: 50px;
    position: absolute;
    left: 870px;
    top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tournamentName {
    @include regularWeight;

    color: var(--player-color);
    text-align: center;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: 2px;
    white-space: pre;
  }

  // 大会ロゴの設定
  .logobox {
    height: 120px;
    width: 220px;
    position: absolute;
    left: 850px;
    top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
