@import "components/obs/score/base";

// 試合ステータス（Winners Semis, Best of 3など）の設定
@mixin status {
  font-family: "Work Sans", sans-serif;
  font-size: 21px;
  font-variation-settings: "wght" 600;
  font-style: italic;
  line-height: 21px;
  color: var(--status-color);
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.simple {
  // スコアの位置指定
  .score {
    @include score;
    @include boldWeight;

    top: 33px;
    width: 90px;
    font-family: "Work Sans", sans-serif;
    font-size: 80px;
    font-variation-settings: "wght" 800;
    color: black;
    text-align: center;

    &.p1 {
      left: 305px;
    }

    &.p2 {
      right: 305px;
    }
  }

  .player {
    position: absolute;
    top: 60px;
    width: 500px;
    height: 50px;
    margin: 0;

    span {
      &:first-child {
        margin-left: 0;
      }
    }

    &.p1 {
      left: 430px;
      text-align: left;
    }

    &.p2 {
      right: 430px;
      text-align-last: right;
    }

    .team {
      font-family: "Work Sans", "Zen Kaku Gothic Antique", sans-serif;
      font-size: 23px;
      font-variation-settings: "wght" 500;
      font-weight: 700;
      line-height: 30px;
      color: black;
      letter-spacing: 0.025em;
    }

    .name {
      font-family: "Work Sans", "Zen Kaku Gothic Antique", sans-serif;
      font-size: 34px;
      font-variation-settings: "wght" 700;
      font-weight: 900;
      line-height: 35px;
      color: white;
      letter-spacing: 1px;
    }
  }

  .box {
    position: absolute;
    top: 159px;
    left: 660px;
    display: flex;
    justify-content: center;
    width: 600px;
    height: 30px;
    color: black;
    text-align: center;
  }

  // 試合ステータスの位置設定
  .round {
    @include status;

    margin-right: 3px;

    &::after {
      margin-left: 5px;
      content: "/";
    }
  }

  .matchType {
    font-family: "Work Sans", sans-serif;
    font-size: 21px;
    font-variation-settings: "wght" 600;
    font-style: italic;
    line-height: 21px;
    color: var(--status-color);
    text-transform: uppercase;
    letter-spacing: 0.025em;
  }

  // 選手IDの位置設定
  @mixin idText {
    position: absolute;
    width: 320px;
    height: 22px;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-variation-settings: "wght" 600;
    line-height: 24px;
    color: white;
  }

  .cameraLeft {
    @include idText;

    top: 842px;
    left: 26px;
    text-align: left;
  }

  .cameraRight {
    @include idText;

    top: 842px;
    right: 26px;
    text-align: right;
  }

  .logobox {
    position: absolute;
    top: 900px;
    left: 820px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 160px;
  }
}
