@import "./base";

// 試合ステータス（Winners Semis, Best of 3など）の設定
@mixin status {
  @include midWeight;

  color: var(--status-color);
  font-size: 21px;
  line-height: 21px;
  font-style: italic;
  letter-spacing: 1px;
}

.simple {
  // スコアの位置指定
  .score {
    @include score;
    @include midWeight;

    width: 50px;
    text-align: center;
    font-size: 42px;
    font-variant-numeric: tabular-nums;
    top: 44px;

    &.p1 {
      left: 905px;
    }

    &.p2 {
      right: 905px;
    }
  }

  .player {
    margin: 0;
    width: 500px;
    height: 50px;
    position: absolute;
    top: 59px;

    span {
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
    }

    &.p1 {
      left: 395px;
      text-align: right;
    }

    &.p2 {
      right: 395px;
      text-align-last: left;
    }

    .team {
      @include regularWeight;

      color: var(--player-color);
      font-size: 35px;
      letter-spacing: 1px;
      line-height: 35px;
    }

    .name {
      @include boldWeight;

      color: var(--player-color);
      font-size: 35px;
      line-height: 35px;
      letter-spacing: 1px;
    }
  }

  .box {
    width: 600px;
    height: 25px;
    position: absolute;
    text-align: center;
    color: var(--status-color);
    top: 19px;
    left: 660px;
    display: flex;
    justify-content: center;
  }

  // 試合ステータスの位置設定
  .round {
    @include status;

    margin-right: 3px;

    &::after {
      content: "—";
    }
  }

  .matchType {
    @include regularWeight;

    color: var(--status-color);
    font-size: 21px;
    line-height: 21px;
    font-style: italic;
    letter-spacing: 1px;
  }

  // 選手IDの位置設定
  @mixin idText {
    @include boldWeight;

    width: 320px;
    height: 22px;
    margin: 0;
    color: var(--player-color);
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 1px;
    position: absolute;
  }

  .cameraLeft {
    @include idText;

    text-align: left;
    left: 26px;
    top: 859px;
  }

  .cameraRight {
    @include idText;

    text-align: right;
    right: 26px;
    top: 859px;
  }

  .logobox {
    height: 160px;
    width: 280px;
    position: absolute;
    left: 820px;
    top: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
