@import "components/obs/score/base";

// 試合ステータス（Winners Semis, Best of 3など）の設定
@mixin status {
  @include blackWeight;

  width: 264px;
  margin: 0;
  font-size: 20px;
  font-style: italic;
  line-height: 21px;
  color: #ecdbbe;
  text-align: left;
}

.single {
  // スコアの位置指定
  .score {
    @include score;
    @include blackWeight;

    top: 44px;
    top: 63px;
    width: 60px;
    font-family: helvetica-neue-lt-pro, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    color: #be1e28;
    text-align: center;

    &.p1 {
      left: 894px;
    }

    &.p2 {
      right: 894px;
    }
  }

  // プレイヤー名の位置指定
  .player {
    position: absolute;
    top: 60px;
    width: 350px;
    height: 60px;
    text-align: center;

    span {
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
    }

    &.p1 {
      left: 518px;
    }

    &.p2 {
      right: 518px;
    }

    .team {
      @include mediumWeight;

      display: none;
      font-size: 29px;
      line-height: 29px;
      color: var(--player-color);
      text-align: center;
      letter-spacing: 1px;
    }

    .name {
      @include blackWeight;

      margin-left: 0 !important;
      font-family: toppan-bunkyu-midashi-go-std, sans-serif;
      font-size: 24px;
      font-weight: 900;
      font-feature-settings: "palt";
      line-height: 24px;
      color: #ecdbbe;
      text-align: center;
    }
  }

  .tournamentNameBox {
    position: absolute;
    top: 44px;
    left: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 215px;
    height: 60px;
  }

  // 試合ステータスの位置設定
  .round {
    position: absolute;
    top: 61px;
    left: 41px;
    width: 264px;
    font-family: helvetica-neue-lt-pro, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    color: #ecdbbe;
    text-align: center;
    text-transform: uppercase;
  }

  .matchType {
    position: absolute;
    top: 48px;
    left: 914px;
    width: 92px;
    font-family: helvetica-neue-lt-pro, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    color: #be1e28;
    text-align: center;
  }

  .cameraRight,
  .cameraLeft {
    color: #ecdbbe;
  }

  .logobox {
    position: absolute;
    top: 24px;
    left: 860px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
  }
}
