@import "components/obs/score/base";

// 試合ステータス（Winners Semis, Best of 3など）の設定
@mixin status {
  @include blackWeight;

  width: 215px;
  margin: 0 0 0 5px;
  font-size: 21px;
  font-style: italic;
  line-height: 23px;
  color: white;
  text-align: left;
  letter-spacing: 0.02em;
}

.single {
  // スコアの位置指定
  .score {
    @include score;
    @include blackWeight;

    top: 37px;
    width: 60px;
    font-size: 40px;

    &.p1 {
      left: 797px;
    }

    &.p2 {
      right: 797px;
    }
  }

  // プレイヤー名の位置指定
  .player {
    position: absolute;
    top: 51px;
    width: 450px;
    height: 60px;
    text-align: center;

    span {
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
    }

    &.p1 {
      left: 336px;
    }

    &.p2 {
      right: 336px;
    }

    .team {
      @include mediumWeight;

      font-size: 29px;
      line-height: 29px;
      color: var(--player-color);
      text-align: center;
      letter-spacing: 1px;
    }

    .name {
      @include blackWeight;

      font-size: 29px;
      line-height: 29px;
      color: var(--player-color);
      text-align: center;
      letter-spacing: 1px;
    }
  }

  .tournamentNameBox {
    position: absolute;
    top: 44px;
    left: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 215px;
    height: 60px;
  }

  .box {
    position: absolute;
    top: 32px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 215px;
    height: 60px;
  }

  // 試合ステータスの位置設定
  .round,
  .matchType {
    @include status;
  }

  .cameraRight,
  .cameraLeft {
    color: var(--bb-white);
  }

  .logobox {
    position: absolute;
    top: 24px;
    left: 860px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
  }
}
