@import "components/obs/score/base";

// 試合ステータス（Winners Semis, Best of 3など）の設定
@mixin status {
  @include blackWeight;

  width: 215px;
  margin: 0 0 0 5px;
  font-size: 19px;
  font-style: italic;
  line-height: 21px;
  color: var(--status-color);
  text-align: left;
  letter-spacing: 1px;
}

.single {
  // スコアの位置指定
  .score {
    position: absolute;
    font-family: 'Diatype Black', sans-serif;
    color: white;
    font-size: 72px;
    top: 13px;
    width: 100px;
    text-align: center;

    &.p1 {
      left: 460px;
    }

    &.p2 {
      right: 460px;
    }
  }

  // プレイヤー名の位置指定
  .player {
    position: absolute;
    top: 38px;
    width: 330px;
    height: 60px;
    text-align: center;

    span {
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
    }

    &.p1 {
      left: 570px;
    }

    &.p2 {
      right: 570px;
    }

    .team {
      font-family: "TPSkyModernStdN-Blk", sans-serif;
      font-size: 28px;
      line-height: 28px;
      color: var(--player-color);
      text-align: center;
      letter-spacing: 1px;
    }

    .name {
      font-family: "TPSkyModernStdN-Blk", sans-serif;
      font-size: 28px;
      line-height: 28px;
      color: black;
      text-align: center;
      letter-spacing: 1px;
    }
  }

  .tournamentNameBox {
    position: absolute;
    top: 44px;
    left: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 215px;
    height: 60px;
  }

  .box {
    display: none;
    position: absolute;
    top: 45px;
    left: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 215px;
    height: 60px;
  }

  // 試合ステータスの位置設定
  .round,
  .matchType {
    display: none;
    @include status;
  }

  .cameraRight,
  .cameraLeft {
    color: var(--bb-white);
  }

  .logobox {
    position: absolute;
    top: 24px;
    left: 860px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
  }
}
