@import "components/obs/score/base";

// 試合ステータス（Winners Semis, Best of 3など）の設定
@mixin status {
  @include blackWeight;

  width: 240px;
  margin: 0;
  font-size: 19px;
  font-style: italic;
  line-height: 32px;
  color: var(--status-color);
  text-align: center;
}

.solid {
  // スコアの位置指定
  .score {
    @include score;
    @include blackWeight;

    top: 39px;
    width: 90px;
    font-family: "SA Score", sans-serif;
    font-size: 54px;
    text-align: center;

    &.p1 {
      left: 773px;
    }

    &.p2 {
      right: 773px;
    }
  }

  .player {
    position: absolute;
    top: 65px;
    width: 486px;
    height: 70px;
    margin: 0;
    text-align: center;

    span {
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
    }

    &.p1 {
      left: 300px;
    }

    &.p2 {
      right: 300px;
    }

    .team {
      @include mediumWeight;

      font-family: "Neue Machina Regular", "IBM Plex Sans JP Text", sans-serif;
      font-size: 34px;
      line-height: 34px;
      color: var(--player-color);
      text-align: center;
      letter-spacing: 1px;
    }

    .name {
      @include blackWeight;

      font-family: "Neue Machina Semibold", "IBM Plex Sans JP Bold", sans-serif;
      font-size: 32px;
      line-height: 32px;
      color: var(--player-color);
      text-align: center;
      letter-spacing: 1px;
    }
  }

  .box {
    position: absolute;
    top: 38px;
    left: 840px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 240px;
    height: 60px;
  }

  // 試合ステータスの位置設定
  .round {
    @include status;

    font-family: "Neue Machina Semibold", sans-serif;
    font-size: 19px;
    color: white;
    letter-spacing: 0;
  }

  .matchType {
    @include status;

    font-family: "Neue Machina Bold", sans-serif;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }

  .cameraRight,
  .cameraLeft {
    color: var(--bb-white);
  }

  .logobox {
    position: absolute;
    top: 900px;
    left: 820px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 160px;
  }
}
