@import "components/obs/score/base";

// 試合ステータス（Winners Semis, Best of 3など）の設定
@mixin status {
  @include blackWeight;

  width: 200px;
  margin: 0;
  font-size: 21px;
  line-height: 23px;
  color: var(--status-color);
  text-align: center;
  letter-spacing: 1px;
}

.solid {
  // スコアの位置指定
  .score {
    @include score;
    @include blackWeight;

    top: 45px;
    width: 60px;
    font-size: 40px;

    &.p1 {
      left: 770px;
    }

    &.p2 {
      right: 770px;
    }
  }

  .player {
    position: absolute;
    top: 60px;
    width: 430px;
    height: 60px;
    margin: 0;
    text-align: center;

    span {
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
    }

    &.p1 {
      left: 320px;
    }

    &.p2 {
      right: 320px;
    }

    .team {
      @include mediumWeight;

      font-size: 29px;
      line-height: 29px;
      color: var(--player-color);
      text-align: center;
      letter-spacing: 1px;
    }

    .name {
      @include blackWeight;

      font-size: 29px;
      line-height: 29px;
      color: var(--player-color);
      text-align: center;
      letter-spacing: 1px;
    }
  }

  .box {
    position: absolute;
    top: 26px;
    left: 860px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 60px;
  }

  // 試合ステータスの位置設定
  .round {
    @include status;
  }

  .matchType {
    @include status;

    margin-top: 23px;
  }

  .cameraRight,
  .cameraLeft {
    color: var(--bb-white);
  }

  .logobox {
    position: absolute;
    top: 900px;
    left: 820px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 160px;
  }
}
