// フォントの設定
$regular: "Satoshi", "Noto Sans JP", sans-serif;
$bold: "Satoshi", "Noto Sans JP", sans-serif;
$black: "Satoshi", "Noto Sans JP", sans-serif;

.board {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  opacity: 1;
}

// フォントの太さの設定（ライトウェイト）
@mixin regularWeight {
  font-family: $regular;
  font-variation-settings: "wght" 400;
  font-weight: 400;
}

// フォントの太さの設定（ミディアムウェイト）
@mixin mediumWeight {
  font-family: $regular;
  font-variation-settings: "wght" 500;
  font-weight: 500;
}

@mixin boldWeight {
  font-family: $bold;
  font-variation-settings: "wght" 700;
  font-weight: 700;
}

// フォントの太さの設定（ブラックウェイト）
@mixin blackWeight {
  font-family: $black;
  font-variation-settings: "wght" 900;
  font-weight: 900;
}

.bracketBox {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 304px;
  height: 85px;
  padding-left: 11px;

  p {
    margin: 0;

    span {
      margin-left: 6px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.playerTeam {
  font-family: "FOT-UD角ゴC80 Pro", Satoshi, "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-variation-settings: "wght" 700;
  font-weight: 700;
  line-height: 42px;
  color: #7255e7;
}

.playerName {
  font-family: "FOT-UD角ゴC80 Pro", Satoshi, "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-variation-settings: "wght" 700;
  font-weight: 700;
  line-height: 42px;
  color: #000;
}

.name {
  .player2 {
    margin-top: 18px;
  }
}

.score {
  width: 40px;
  margin: 0;
  font-family: "Futura PT Heavy", Satoshi, "Noto Sans JP", sans-serif;
  font-size: 36px;
  font-variation-settings: "wght" 700;
  font-weight: 700;
  font-variant-numeric: tabular-nums;
  line-height: 42px;
  color: #fff;
  text-align: center;
}

.scoreBox {
  .player2 {
    margin-top: 18px;
  }
}
