// フォントの設定
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500;900&display=swap");
@font-face {
  font-family: "Nikolai Bold";
  src: url("/fonts/Nikolai-Bold.woff2");
}
@font-face {
  font-family: "Gambetta Bold";
  src: url("/fonts/Gambetta-Bold.woff2");
  size-adjust: 112%;
}
@font-face {
  font-family: "Gambetta Semi Bold";
  src: url("/fonts/Gambetta-Semibold.woff2");
  size-adjust: 112%;
}
$regular: "Satoshi", "Noto Sans JP", sans-serif;
$bold: "Satoshi", "Noto Sans JP", sans-serif;
$black: "Satoshi", "Noto Sans JP", sans-serif;

.board {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  opacity: 1;
}

// フォントの太さの設定（ライトウェイト）
@mixin regularWeight {
  font-family: $regular;
  font-variation-settings: "wght" 400;
  font-weight: 400;
}

// フォントの太さの設定（ミディアムウェイト）
@mixin mediumWeight {
  font-family: $regular;
  font-variation-settings: "wght" 500;
  font-weight: 500;
}

@mixin boldWeight {
  font-family: $bold;
  font-variation-settings: "wght" 700;
  font-weight: 700;
}

// フォントの太さの設定（ブラックウェイト）
@mixin blackWeight {
  font-family: $black;
  font-variation-settings: "wght" 900;
  font-weight: 900;
}

.bracketBox {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 298px;
  height: 85px;
  padding-left: 11px;

  p {
    margin: 0;

    // span {
    //   margin-left: 6px;

    //   &:first-child {
    //     margin-left: 0;
    //   }
    // }
  }
}

.playerTeam {
  @include mediumWeight;

  display: none;
  font-family: "Gambetta Semi Bold", "Noto Serif JP", serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 53px;
  color: var(--bb-black) !important;
  letter-spacing: 1px;
}

.playerName {
  @include blackWeight;

  font-family: "Gambetta Bold", "Noto Serif JP", serif;
  font-size: 22px;
  font-weight: 900;
  line-height: 53px;
  color: var(--bb-black) !important;
  letter-spacing: 1px;
}

.score {
  @include boldWeight;

  width: 40px;
  margin: 0;
  font-family: "Nikolai Bold", serif;
  font-size: 44px;
  font-variant-numeric: tabular-nums;
  line-height: 53px;
  color: var(--bb-black) !important;
  text-align: center;
}

// 色設定
.other.losers {
  .player1 span,
  .player2 span {
    color: var(--bb-white);
  }
}

.other.winners {
  .player1 span,
  .player2 span {
    color: var(--bb-black);
  }
}

.other.grand {
  .player1 span {
    color: var(--bb-black);
  }

  .player2 span {
    color: var(--bb-white);
  }
}
