// フォントの設定
$regular: "Satoshi", "Noto Sans JP", sans-serif;
$bold: "Satoshi", "Noto Sans JP", sans-serif;
$black: "Satoshi", "Noto Sans JP", sans-serif;

.board {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  opacity: 1;
}

// フォントの太さの設定（ライトウェイト）
@mixin regularWeight {
  font-family: $regular;
  font-variation-settings: "wght" 400;
  font-weight: 400;
}

// フォントの太さの設定（ミディアムウェイト）
@mixin mediumWeight {
  font-family: $regular;
  font-variation-settings: "wght" 500;
  font-weight: 500;
}

@mixin boldWeight {
  font-family: $bold;
  font-variation-settings: "wght" 700;
  font-weight: 700;
}

// フォントの太さの設定（ブラックウェイト）
@mixin blackWeight {
  font-family: $black;
  font-variation-settings: "wght" 900;
  font-weight: 900;
}

.bracketBox {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 296px;
  height: 85px;
  padding-left: 11px;

  p {
    margin: 0;

    span {
      margin-left: 6px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.playerTeam {
  @include mediumWeight;

  font-family: "Neue Machina Regular", "IBM Plex Sans JP Text", sans-serif;
  font-size: 22px;
  line-height: 42px;
  color: white;
  letter-spacing: 0;
}

.playerName {
  @include blackWeight;

  font-family: "Neue Machina Semibold", "IBM Plex Sans JP Bold", sans-serif;
  font-size: 22px;
  line-height: 42px;
  color: white;
}

.score {
  @include boldWeight;

  width: 40px;
  margin: 0;
  font-family: "SA Score", sans-serif;
  font-size: 32px;
  font-variant-numeric: tabular-nums;
  line-height: 42px;
  color: black;
  text-align: center;
}

// 色設定
.other.losers {
  .player1 span,
  .player2 span {
    color: black;
  }
}

.other.winners {
  .player1 span,
  .player2 span {
    color: white;
  }
}

.other.grand {
  .player1 span {
    color: white;
  }

  .player2 span {
    color: black;
  }
}
