.container {
  padding: 1rem;

  h2 {
    margin-top: 50px;
    margin-bottom: 100px;

    @media (max-width: 960px) {
      margin-bottom: 30px;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;

    .left {
      margin-top: 65px;

      @media (max-width: 960px) {
        margin-top: 0;
      }

      div {
        display: flex;
        justify-content: flex-end;

        @media (max-width: 960px) {
          justify-content: start;
        }
      }
    }

    @media (max-width: 960px) {
      flex-flow: column;
      align-items: inherit;
      justify-content: inherit;
      margin-bottom: 50px;
    }
  }
}

.controlsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
