.table {
  overflow: scroll;
  border-bottom: 1px solid var(--bb-beige);

  th {
    padding: 2px 10px;
    font-family: "Mint Grotesk Medium", "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 700;
    text-align: left;
    border-bottom: 1px solid var(--bb-beige);
  }

  tr {
    transition: all 0.5s cubic-bezier(0.33, 1, 0.68, 1);

    &:hover {
      cursor: pointer;
      background-color: var(--bb-beige-light);
    }
  }

  td {
    padding: 2px 10px;
  }

  td:nth-child(1) {
    padding: 12px 0 12px 10px;
  }
}
