.table {
  width: 100%;
  overflow: scroll;
  table-layout: fixed;
  border-bottom: 1px solid var(--bb-beige);

  th {
    padding: 2px 5px;
    overflow: hidden;
    font-family: "Mint Grotesk Medium", "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 700;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid var(--bb-beige);
  }

  tr {
    transition: all 0.5s cubic-bezier(0.33, 1, 0.68, 1);

    &:hover {
      cursor: pointer;
      background-color: var(--bb-beige-light);
    }
  }

  td {
    padding: 2px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
