.container {
  display: flex;
  margin-bottom: 50px;

  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }

  p {
    margin: 0;
  }

  a {
    color: var(--bb-black);
    text-decoration: underline;
    text-underline-offset: 0.1em;
    transition: all 0.5s cubic-bezier(0.33, 1, 0.68, 1);

    &:hover {
      color: var(--bb-beige);
    }
  }
}
