.container {
  display: flex;
  gap: 5px;
  margin: 0;
}

.dummyLabel {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid var(--light-primary);
  border-radius: 5px;
}

.input {
  display: none;

  &:checked + .dummyLabel {
    background-color: var(--bb-black);
    border-color: var(--bb-black);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 20px;
      border-right: 2px solid var(--bb-white);
      border-bottom: 2px solid var(--bb-white);
      top: 2px;
      left: 10px;
      transform: rotate(45deg);
    }
  }
}
