.container {
  display: flex;
  gap: 5px;
  margin: 0;
}

.dummyLabel {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 4px;
  cursor: pointer;
  border: 2px solid var(--bb-gray);
  border-radius: 5px;
  transition: all 0.5s cubic-bezier(0.33, 1, 0.68, 1);

  &:hover {
    border-color: var(--bb-black);
    box-shadow: 0 2px 7px rgb(0 0 0 / 10%);
  }
}

.input {
  display: none;

  &:checked + .dummyLabel {
    position: relative;
    background-color: var(--bb-black);
    border-color: var(--bb-black);

    &::after {
      position: absolute;
      top: 0;
      left: 7px;
      width: 12px;
      height: 20px;
      content: "";
      border-right: 2px solid var(--bb-white);
      border-bottom: 2px solid var(--bb-white);
      transform: rotate(45deg);
    }
  }
}
