.container {
  padding: 15px;
  border: 1px solid var(--primary);
  border-radius: 15px;
  width: fit-content;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.33, 1, 0.68, 1);
  box-shadow: 0 2px 7px rgb(0 0 0 / 10%);

  &:hover {
    background-color: var(--bb-beige-light);
    box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
  }

  &:active {
    background-color: var(--bb-beige-dark);
    box-shadow: none;
  }
}

.radioButton {
  display: none;

  &:checked + div {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
  }
}

.imageContainer {
  background-color: rgb(0 0 0 / 10%);
  border-radius: 5px;
}
