.container {
  padding: 15px;
  border: 1px solid var(--primary);
  border-radius: 15px;
  width: fit-content;
  font-size: 12px;
}

.radioButton {
  display: none;

  &:checked + div {
    border: 1px solid var(--primary);
    background-color: var(--primary);
  }
}
