// フォントの設定
$regular: "Satoshi", "Noto Sans JP", sans-serif;
$medium: "Satoshi", "Noto Sans JP", sans-serif;
$bold: "Satoshi", "Noto Sans JP", sans-serif;
$black: "Satoshi", "Noto Sans JP", sans-serif;

// フォントの太さの設定（ライトウェイト）
@mixin regularWeight {
  font-family: "Doppo V6 Medium", "toppan-bunkyu-gothic-pr6n", serif;
  font-style: normal;
  font-weight: 600;
  font-feature-settings: "ss01", "ss02", "ss04";
}

// フォントの太さの設定（ミディアムウェイト）
@mixin mediumWeight {
  font-family: "Doppo V6 Extrabold", toppan-bunkyu-midashi-go-std, sans-serif;
  font-feature-settings: "ss01", "ss02", "ss04";
}

@mixin boldWeight {
  font-family: $black;
  font-variation-settings: "wght" 700;
  font-weight: 700;
}

// フォントの太さの設定（ブラックウェイト）
@mixin blackWeight {
  font-family: "Doppo V6 Extrabold", toppan-bunkyu-midashi-go-std, sans-serif;
  font-style: normal;
  font-feature-settings: "ss01", "ss02", "ss04";
}
