@import "normal";
@import "simple";

.board {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.95;
}

.other {
  .dark {
    --main-color: $white;
    --sub-color: $darkgray;
  }

  .light {
    --main-color: $darkgray;
    --sub-color: $white;
  }
}

.simple {
  .black {
    --main-color: $white;
    --sub-color: $darkgray;
  }

  .white {
    --main-color: $darkgray;
    --sub-color: $white;
  }
}
