@import "base";

.other {
  .nextnow {
    @include blackWeight;

    position: absolute;
    top: 943px;
    left: 42px;
    width: 196px;
    height: 80px;
    font-size: 63px;
    color: #be1e28;
    text-align: left;
    letter-spacing: -1px;
  }

  .statusBox {
    position: absolute;
    top: 999px;
    left: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 340px;
    height: 80px;
  }

  .round,
  .bo {
    @include blackWeight;

    width: 320px;
    margin: 0;
    font-size: 18px;
    line-height: 19px;
    color: #141414;
    text-align: left;
    letter-spacing: -0.7px;
  }

  .score {
    @include blackWeight;

    position: absolute;
    top: 950px;
    width: 60px;
    margin: 0;
    font-size: 80px;
    font-variant-numeric: tabular-nums;
    color: var(--white);
    text-align: center;

    &.p1 {
      left: 871px;
    }

    &.p2 {
      right: 871px;
    }
  }

  .player {
    position: absolute;
    top: 967px;
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 60px;
    margin: 0;
    text-align: center;

    &.p1 {
      left: 296px;
      text-align: right;
    }

    &.p2 {
      right: 296px;
      text-align: left;
    }

    .team {
      @include mediumWeight;

      width: 100%;
      padding-right: 2px;
      padding-bottom: 2px;
      padding-left: 2px;
      font-family: "Doppo V6", "toppan-bunkyu-gothic-pr6n", serif;
      font-size: 20px;
      font-weight: 500;
      font-variant-numeric: tabular-nums;
      line-height: 22px;
      color: var(--white);
    }

    .name {
      @include blackWeight;

      width: 100%;
      font-size: 40px;
      font-feature-settings: "palt";
      line-height: 40px;
      color: var(--white);
      letter-spacing: -0.5px;
    }
  }

  .localsetting {
    @include mediumWeight;

    position: absolute;
    top: 967px;
    right: 40px;
    font-family: "Doppo V6", "toppan-bunkyu-gothic-pr6n", serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 26px;
    color: var(--white);
  }

  .localtime {
    @include blackWeight;

    position: absolute;
    top: 968px;
    right: 38px;
    font-size: 75px;
    font-variant-numeric: tabular-nums;
    color: var(--white);
    text-align: right;
  }
}
