@import "base";

.other {
  .nextnow {
    @include mediumWeight;

    position: absolute;
    top: 947px;
    left: 40px;
    width: 220px;
    height: 80px;
    font-family: helvetica-neue-lt-pro, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: #ecdbbe;
    text-align: left;
    text-transform: uppercase;
  }

  .statusBox {
    position: absolute;
    top: 988px;
    left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 340px;
    height: 80px;
  }

  .round,
  .bo {
    @include blackWeight;

    width: 320px;
    margin: 0;
    font-family: helvetica-neue-lt-pro, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    color: #ecdbbe;
    text-align: left;
    text-transform: uppercase;
  }

  .score {
    @include blackWeight;

    position: absolute;
    top: 945px;
    width: 80px;
    margin: 0;
    font-family: helvetica-neue-lt-pro, sans-serif;
    font-size: 78px;
    font-style: normal;
    font-weight: 700;
    color: #be1e28;
    text-align: center;

    &.p1 {
      left: 870px;
    }

    &.p2 {
      left: 986px;
    }
  }

  .player {
    position: absolute;
    top: 986px;
    width: 430px;
    height: 60px;
    margin: 0;
    text-align: center;

    &.p1 {
      left: 395px;
      text-align: right;
    }

    &.p2 {
      left: 1105px;
      text-align: left;
    }

    .team {
      @include mediumWeight;

      display: none;
      font-size: 38px;
      line-height: 38px;
      color: var(--sub-color);
      text-align: center;
      letter-spacing: 1px;
    }

    .name {
      @include blackWeight;

      margin-left: 0 !important;
      font-family: toppan-bunkyu-midashi-go-std, sans-serif;
      font-size: 38px;
      font-weight: 900;
      font-feature-settings: "palt";
      line-height: 38px;
      color: #be1e28;
    }
  }

  .localsetting {
    @include mediumWeight;

    position: absolute;
    top: 950px;
    right: 40px;
    font-family: helvetica-neue-lt-pro, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: #ecdbbe;
    text-align: right;
  }

  .localtime {
    @include blackWeight;

    position: absolute;
    top: 968px;
    right: 38px;
    font-family: helvetica-neue-lt-pro, sans-serif;
    font-size: 78px;
    font-style: normal;
    font-weight: 700;
    font-variant-numeric: tabular-nums;
    color: #ecdbbe;
    text-align: right;
  }
}
