@import "base";

.simple {
  .nextnow {
    @include blackWeight;

    position: absolute;
    top: 877px;
    left: 40px;
    width: 260px;
    height: 95px;
    font-size: 72px;
    color: var(--sub-color);
    text-align: center;
    letter-spacing: 0.05em;
  }

  .statusBox {
    position: absolute;
    top: 884px;
    left: 315px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    height: 65px;
  }

  .round {
    @include boldWeight;

    width: 320px;
    margin: 0;
    font-size: 26px;
    font-style: italic;
    line-height: 26px;
    color: var(--sub-color);
    text-align: left;
    letter-spacing: 2px;
  }

  .bo {
    @include mediumWeight;

    width: 320px;
    margin: 0;
    font-size: 26px;
    font-style: italic;
    line-height: 26px;
    color: var(--sub-color);
    text-align: left;
    letter-spacing: 2px;
  }

  // スコアの位置指定
  .score {
    @include boldWeight;

    position: absolute;
    top: 952px;
    width: 85px;
    margin: 0;
    font-size: 60px;
    font-variant-numeric: tabular-nums;
    color: var(--sub-color);
    text-align: center;

    &.p1 {
      left: 470px;
    }

    &.p2 {
      left: 555px;
    }
  }

  .player {
    position: absolute;
    top: 1000px;
    width: 420px;
    height: 50px;
    margin: 0;

    &.p1 {
      left: 25px;
      text-align: right;
    }

    &.p2 {
      left: 665px;
      text-align: left;
    }

    .team {
      @include mediumWeight;

      font-size: 30px;
      line-height: 30px;
      color: var(--sub-color);
      letter-spacing: 1px;
    }

    .name {
      @include blackWeight;

      margin-left: 1rem;
      font-size: 30px;
      line-height: 30px;
      color: var(--sub-color);
      letter-spacing: 1px;
    }
  }

  .localsetting {
    @include mediumWeight;

    position: absolute;
    top: 975px;
    left: 1570px;
    font-size: 24px;
    line-height: 24px;
    color: var(--sub-color);
    text-align: right;
    letter-spacing: 1px;
  }

  .localtime {
    @include boldWeight;

    position: absolute;
    top: 960px;
    right: 57px;
    font-size: 52px;
    font-variant-numeric: tabular-nums;
    color: var(--sub-color);
    text-align: right;
  }
}
