@import "base";

.simple {
  .nextnow {
    position: absolute;
    top: 852px;
    left: 38px;
    width: 260px;
    height: 95px;
    font-family: "Work Sans", sans-serif;
    font-size: 90px;
    font-variation-settings: "wght" 400;
    font-style: italic;
    color: var(--sub-color);
    text-align: center;
    letter-spacing: 0.025em;
  }

  .statusBox {
    position: absolute;
    top: 865px;
    left: 333px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    height: 65px;
  }

  .round {
    width: 320px;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-size: 26px;
    font-variation-settings: "wght" 600;
    font-style: italic;
    line-height: 25px;
    color: white;
    text-align: left;
    letter-spacing: 0.01em;
  }

  .bo {
    width: 320px;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-size: 26px;
    font-variation-settings: "wght" 600;
    font-style: italic;
    line-height: 25px;
    color: white;
    text-align: left;
    letter-spacing: 0.01em;
  }

  // スコアの位置指定
  .score {
    position: absolute;
    top: 935px;
    width: 100px;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-size: 80px;
    font-variation-settings: "wght" 800;
    font-variant-numeric: tabular-nums;
    color: var(--sub-color);
    text-align: center;

    &.p1 {
      left: 453px;
    }

    &.p2 {
      left: 568px;
    }
  }

  .player {
    position: absolute;
    top: 1005px;
    width: 420px;
    height: 50px;
    margin: 0;

    &.p1 {
      left: 0;
      text-align: right;
    }

    &.p2 {
      left: 698px;
      text-align: left;
    }

    .team {
      font-family: "Work Sans", "Zen Kaku Gothic Antique", sans-serif;
      font-size: 29px;
      font-variation-settings: "wght" 500;
      font-weight: 700;
      line-height: 29px;
      color: white;
      letter-spacing: 0.025em;
    }

    .name {
      margin-left: 1rem;
      font-family: "Work Sans", "Zen Kaku Gothic Antique", sans-serif;
      font-size: 29px;
      font-variation-settings: "wght" 700;
      font-weight: 900;
      line-height: 29px;
      color: white;
      letter-spacing: 0.025em;
    }
  }

  .localsetting {
    @include mediumWeight;

    position: absolute;
    top: 975px;
    left: 1570px;
    display: none;
    font-size: 24px;
    line-height: 24px;
    color: var(--sub-color);
    text-align: right;
    letter-spacing: 1px;
  }

  .localtime {
    position: absolute;
    top: 935px;
    right: 52px;
    font-family: "Work Sans", sans-serif;
    font-size: 80px;
    font-variation-settings: "wght" 700;
    font-variant-numeric: tabular-nums;
    color: var(--sub-color);
    text-align: right;
  }
}
