@import "base";

.simple {
  .nextnow {
    @include blackWeight;

    width: 260px;
    height: 95px;
    font-size: 72px;
    text-align: center;
    color: var(--sub-color);
    position: absolute;
    left: 40px;
    top: 877px;
    letter-spacing: 0.05em;
  }

  .statusBox {
    width: 320px;
    height: 65px;
    position: absolute;
    left: 315px;
    top: 884px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .round {
    @include boldWeight;

    width: 320px;
    margin: 0;
    color: var(--sub-color);
    text-align: left;
    font-size: 26px;
    line-height: 26px;
    font-style: italic;
    letter-spacing: 2px;
  }

  .bo {
    @include regularWeight;

    width: 320px;
    margin: 0;
    color: var(--sub-color);
    text-align: left;
    font-size: 26px;
    line-height: 26px;
    font-style: italic;
    letter-spacing: 2px;
  }

  // スコアの位置指定
  .score {
    @include boldWeight;

    margin: 0;
    width: 85px;
    color: var(--sub-color);
    text-align: center;
    font-size: 60px;
    position: absolute;
    font-variant-numeric: tabular-nums;
    top: 956px;

    &.p1 {
      left: 450px;
    }

    &.p2 {
      left: 535px;
    }
  }

  .player {
    margin: 0;
    width: 400px;
    height: 50px;
    position: absolute;
    top: 996px;

    &.p1 {
      left: 25px;
      text-align: right;
    }

    &.p2 {
      left: 645px;
      text-align: left;
    }

    .team {
      @include regularWeight;

      color: var(--sub-color);
      font-size: 30px;
      line-height: 30px;
      letter-spacing: 1px;
    }

    .name {
      @include blackWeight;

      color: var(--sub-color);
      font-size: 34px;
      line-height: 34px;
      letter-spacing: 1px;
      margin-left: 1rem;
    }
  }

  .localsetting {
    @include mediumWeight;

    text-align: right;
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    color: var(--sub-color);
    left: 1570px;
    top: 975px;
    letter-spacing: 1px;
  }

  .localtime {
    @include boldWeight;

    font-size: 52px;
    text-align: right;
    color: var(--sub-color);
    position: absolute;
    right: 57px;
    top: 960px;
    font-variant-numeric: tabular-nums;
  }
}
