.container {
  padding-left: 48px;
  padding-right: 48px;

  h2 {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      div {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.controlsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
