.container {
  display: grid;
  grid-template-columns: 1fr 400px;

  hr {
    background-color: var(--gray);
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.settingFormContainer {
  padding: 150px 50px 44px;

  h2 {
    margin-top: 0;
    margin-bottom: 50px;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
