@import "base";

.normal {
  .mc1,
  .mc2,
  .mc3,
  .mc4 {
    position: absolute;
    left: 1045px;
    width: 400px;
    height: 30px;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    text-align: left;

    span {
      margin-left: 12px;
      font-size: inherit;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .mc_team {
    font-family: "C4 ゴシック・ドゥ RE 04", Satoshi, "Noto Sans JP", sans-serif;
    font-variation-settings: "wght" 700;
    font-weight: 700;
    color: #a893ff;
  }

  .mc_name {
    font-family: "C4 ゴシック・ドゥ RE 04", Satoshi, "Noto Sans JP", sans-serif;
    font-variation-settings: "wght" 700;
    font-weight: 700;
  }

  .id1,
  .id2,
  .id3,
  .id4 {
    position: absolute;
    left: 1045px;
    width: 270px;
    height: 18px;
    font-family: "C4 ゴシック・ドゥ RE 04", Satoshi, "Noto Sans JP", sans-serif;
    font-size: 18px;
    font-variation-settings: "wght" 500;
    font-weight: 500;
    line-height: 18px;
    color: #fff;
    text-align: left;
  }

  .mc1_layout {
    .mc1 {
      top: 798px;
    }

    .id1 {
      top: 828px;
    }
  }

  .mc2_layout {
    .mc1 {
      top: 798px;
    }

    .id1 {
      top: 828px;
    }

    .mc2 {
      top: 865px;
    }

    .id2 {
      top: 897px;
    }
  }

  .mc3_layout {
    .mc1 {
      top: 798px;
    }

    .id1 {
      top: 828px;
    }

    .mc2 {
      top: 865px;
    }

    .id2 {
      top: 897px;
    }

    .mc3 {
      top: 932px;
    }

    .id3 {
      top: 962px;
    }
  }

  .mc4_layout {
    .mc1 {
      top: 798px;
    }

    .id1 {
      top: 828px;
    }

    .mc2 {
      top: 865px;
    }

    .id2 {
      top: 897px;
    }

    .mc3 {
      top: 932px;
    }

    .id3 {
      top: 962px;
    }

    .mc4 {
      top: 999px;
    }

    .id4 {
      top: 1029px;
    }
  }
}
