@import "base";

.normal {
  .mc1,
  .mc2,
  .mc3,
  .mc4 {
    position: absolute;
    top: 774px;
    width: 400px;
    height: 60px;
    font-size: 30px;
    line-height: 30px;
    color: var(--main-color);
    text-align: center;
    letter-spacing: 2px;

    span {
      margin-left: 10px;
      font-size: inherit;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .mc_team {
    position: fixed;
    top: 37px;
    width: 40px;
    font-family: "Mario Maker", sans-serif;
    font-size: 27px;
    line-height: 27px;
    color: white;
    text-align: center;
  }

  .mc_name {
    position: fixed;
    top: 37px;
    width: 250px;
    margin: 0;
    font-family: "Nitalago Ruika5", sans-serif;
    font-size: 27px !important;
    line-height: 27px;
    color: #1d4063;
    text-align: center;
    letter-spacing: normal;
  }

  .id1,
  .id2,
  .id3,
  .id4 {
    position: absolute;
    top: 88px;
    width: 140px;
    height: 80px;
    font-family: "Mario Maker", sans-serif;
    font-size: 72px;
    line-height: 72px;
    color: white;
    text-align: center;
  }

  .mc1_layout {
    .mc1 {
      left: 760px;
    }

    .id1 {
      left: 825px;
    }
  }

  .mc2_layout {
    .mc1 {
      left: 380px;
    }

    .id1 {
      left: 325px;
    }

    .mc2 {
      left: 1140px;
    }

    .id2 {
      left: 1325px;
    }
  }

  .mc3_layout {
    .mc1 {
      left: 240px;
    }

    .id1 {
      left: 185px;
    }

    .mc2 {
      left: 760px;
    }

    .id2 {
      left: 825px;
    }

    .mc3 {
      left: 1280px;
    }

    .id3 {
      left: 1465px;
    }
  }

  .mc4_layout {
    .mc1 {
      left: 130px;

      .mc_name {
        left: 505px;
      }

      .mc_team {
        left: 769px;
      }
    }

    .id1 {
      left: 745px;
    }

    .mc2 {
      left: 550px;

      .mc_name {
        left: 805px;
      }

      .mc_team {
        left: 1069px;
      }
    }

    .id2 {
      left: 895px;
    }

    .mc3 {
      left: 970px;

      .mc_name {
        left: 1105px;
      }

      .mc_team {
        left: 1369px;
      }
    }

    .id3 {
      left: 1045px;
    }

    .mc4 {
      top: 130px;
      left: 760px;

      .mc_name,
      .mc_team {
        position: relative;
        width: 400px;
        font-family: "Euclid Flex Bold", sans-serif;
        color: white;
        text-align: center;
        letter-spacing: 0.1em;
      }
    }

    .id4 {
      left: 1560px;
    }
  }
}
