@import "base";

.normal {
  .mc1,
  .mc2,
  .mc3,
  .mc4 {
    position: absolute;
    top: 1021px;
    height: 60px;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;

    span {
      margin-left: 10px;
      font-size: inherit;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .mc_team {
    font-family: "Poppins Variable", "Zen Kaku Gothic Antique", sans-serif;
    font-variation-settings: "wght" 700;
    font-weight: 900;
    color: transparent;
    background: linear-gradient(to bottom, #f9eb21, #c7a200);
    background-clip: text;
    background-clip: text;
  }

  .mc_name {
    font-family: "Poppins Variable", "Zen Kaku Gothic Antique", sans-serif;
    font-variation-settings: "wght" 700;
    font-weight: 900;
    color: white;
  }

  .id1,
  .id2,
  .id3,
  .id4 {
    @include boldWeight;

    position: absolute;
    top: 845px;
    left: 300px;
    display: none;
    width: 270px;
    height: 30px;
    font-size: 19px;
    line-height: 19px;
    color: var(--sub-color);
    text-align: center;
    letter-spacing: 1px;
  }

  .mc1_layout {
    .mc1 {
      right: 1020px;
      text-align: right;
    }

    .id1 {
      left: 825px;
    }
  }

  .mc2_layout {
    .mc1 {
      right: 1020px;
      text-align: right;
    }

    .mc2 {
      left: 1020px;
      text-align: left;
    }
  }

  .mc3_layout {
    .mc1 {
      right: 1020px;
      text-align: right;
    }

    .mc2 {
      left: 1020px;
      text-align: left;
    }

    .mc3 {
      left: 1280px;
      display: none;
    }

    .id3 {
      left: 1465px;
      display: none;
    }
  }

  .mc4_layout {
    .mc1 {
      right: 1020px;
      text-align: right;
    }

    .mc2 {
      left: 1020px;
      text-align: left;
    }

    .mc3 {
      left: 970px;
      display: none;
    }

    .id3 {
      left: 1140px;
      display: none;
    }

    .mc4 {
      left: 1390px;
      display: none;
    }

    .id4 {
      left: 1560px;
      display: none;
    }
  }
}
