@import "base";

.board {
  display: none;
}

.simple {
  .mc1,
  .mc2,
  .mc3,
  .mc4 {
    position: absolute;
    top: 874px;
    width: 400px;
    height: 60px;
    font-family: "Work Sans", "Zen Kaku Gothic Antique", sans-serif;
    font-size: 30px;
    font-variation-settings: "wght" 700;
    font-weight: 900;
    line-height: 32px;
    color: var(--black);
    text-align: left;
    letter-spacing: 0.025em;

    span {
      margin-left: 0;
      font-size: inherit;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .mc_team {
    @include mediumWeight;

    display: none;
  }

  .mc_name {
    @include blackWeight;

    font-family: "Work Sans", "Zen Kaku Gothic Antique", sans-serif;
    font-variation-settings: "wght" 700;
    font-style: 32px;
    font-weight: 900;
    line-height: 32px;
    text-align: left;
  }

  .id1,
  .id2,
  .id3,
  .id4 {
    @include boldWeight;

    position: absolute;
    top: 835px;
    left: 300px;
    display: none;
    width: 270px;
    height: 30px;
    font-size: 19px;
    line-height: 19px;
    color: var(--sub-color);
    text-align: center;
    letter-spacing: 1px;
  }

  .mc1_layout {
    .mc1 {
      top: 961px;
      left: 1402px;
    }

    .id1 {
      left: 825px;
    }
  }

  .mc2_layout {
    .mc1 {
      top: 961px;
      left: 1405px;
    }

    .id1 {
      left: 325px;
    }

    .mc2 {
      top: 1004px;
      left: 1405px;
    }

    .id2 {
      left: 1325px;
    }
  }

  .mc3_layout {
    .mc1 {
      top: 961px;
      left: 1405px;
    }

    .id1 {
      left: 185px;
    }

    .mc2 {
      top: 1004px;
      left: 1405px;
    }

    .id2 {
      left: 825px;
    }

    .mc3 {
      left: 1280px;
      display: none;
    }

    .id3 {
      left: 1465px;
    }
  }

  .mc4_layout {
    .mc1 {
      top: 961px;
      left: 1405px;
    }

    .id1 {
      left: 90px;
    }

    .mc2 {
      top: 1004px;
      left: 1405px;
    }

    .id2 {
      left: 510px;
    }

    .mc3 {
      left: 970px;
      display: none;
    }

    .id3 {
      left: 1140px;
    }

    .mc4 {
      left: 1390px;
      display: none;
    }

    .id4 {
      left: 1560px;
    }
  }
}
