@import "base";

.simple {
  .mc1,
  .mc2,
  .mc3,
  .mc4 {
    position: absolute;
    top: 797px;
    width: 400px;
    height: 50px;
    font-size: 34px;
    line-height: 34px;
    color: var(--sub-color);
    text-align: center;
    letter-spacing: 2px;

    span {
      margin-left: 10px;
      font-size: inherit;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .mc_team {
    @include mediumWeight;
  }

  .mc_name {
    @include blackWeight;
  }

  .id1,
  .id2,
  .id3,
  .id4 {
    @include boldWeight;

    position: absolute;
    top: 766px;
    width: 270px;
    height: 25px;
    font-size: 21px;
    line-height: 21px;
    color: var(--main-color);
    letter-spacing: 1px;
  }

  .mc1_layout {
    .mc1 {
      left: 760px;
    }

    .id1 {
      left: 765px;
      text-align: left;
    }

    .mc2,
    .id2,
    .mc3,
    .id3,
    .mc4,
    .id4 {
      display: none;
    }
  }

  .mc2_layout {
    .mc1 {
      left: 380px;
    }

    .id1 {
      left: 385px;
      text-align: left;
    }

    .mc2 {
      left: 1140px;
    }

    .id2 {
      left: 1265px;
      text-align: right;
    }

    .mc4,
    .id4,
    .mc3,
    .id3 {
      display: none;
    }
  }

  .mc3_layout {
    .mc1 {
      left: 240px;
    }

    .id1 {
      left: 245px;
    }

    .mc2 {
      left: 760px;
    }

    .id2 {
      left: 765px;
    }

    .mc3 {
      left: 1280px;
    }

    .id3 {
      left: 1405px;
      text-align: right;
    }

    .mc4,
    .id4 {
      display: none;
    }
  }

  .mc4_layout {
    .mc1 {
      left: 130px;
    }

    .id1 {
      left: 165px;
    }

    .mc2 {
      left: 550px;
    }

    .id2 {
      left: 585px;
    }

    .mc3 {
      left: 970px;
    }

    .id3 {
      left: 1065px;
      text-align: right;
    }

    .mc4 {
      left: 1390px;
    }

    .id4 {
      left: 1485px;
      text-align: right;
    }
  }
}
