.label {
  display: block;
  line-height: 1.5;
}

.input {
  width: 28px;
  height: 28px;
  padding: 1px 4px;
  font-size: 16px;
  text-align: center;
  border: 1px solid var(--light-primary);
  border-radius: 5px;
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}
