.container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 280px;

  main {
    margin-top: -100px;

    .content {
      padding-top: 100px;
    }
  }

  @media (max-width: 520px) {
    padding-bottom: 250px;
  }
}
