.footer {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 11px;
  color: var(--white);
  background-color: var(--black);

  @media (max-width: 520px) {
    flex-flow: column;
    gap: 10px;
    justify-content: inherit;
    height: 175px;
    padding: 30px 11px;
  }
}

.footerLeft {
  display: flex;
  align-items: center;

  @media (max-width: 520px) {
    flex-flow: column;
    gap: 10px;
    align-items: flex-start;
  }
}

.footerRight {
  display: flex;
  align-items: center;
}

.footerImage {
  margin: 0 15px;
}

.footerText {
  margin: 0 15px;
  font-size: 12px;
}
