/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "/node_modules/bulma/sass/grid/columns.sass";
@import "/node_modules/bulma/sass/helpers/visibility.sass";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Zen+Kaku+Gothic+Antique:wght@400;500;700;900&display=swap");

/* stylelint-enable */
@font-face {
  font-family: "Mint Grotesk Regular";
  src: url("/fonts/Mint-Grotesk-Regular-V13.woff2");
}

@font-face {
  font-family: "Mint Grotesk Medium";
  src: url("/fonts/Mint-Grotesk-Medium-V13.woff2");
}

@font-face {
  font-family: "Mint Grotesk Bold";
  src: url("/fonts/Mint-Grotesk-Bold-V13.woff2");
}

@font-face {
  font-family: "Mint Grotesk ExtraBold";
  src: url("/fonts/Mint-Grotesk-ExtraBold-V13.woff2");
}

@font-face {
  font-family: GTFlexa-XCompressed-Bold;
  src: url("/fonts/GT-Flexa-X-Compressed-Bold.otf");
}
@font-face {
  font-family: GTFlexa-Bold;
  src: url("/fonts/GT-Flexa-Standard-Bold.otf");
}
@font-face {
  font-family: GTFlexa-Extended-Light;
  src: url("/fonts/GT-Flexa-Extended-Light.otf");
}

@font-face {
  font-family: "Mario Maker";
  src: url("/fonts/Super-Mario-Maker.ttf");
}

@font-face {
  font-family: "Nitalago Ruika6";
  src: url("/fonts/NitalagoRuika-06M.TTF");
}
@font-face {
  font-family: "Euclid Flex Bold";
  src: url("/fonts/EuclidFlex-Bold.otf");
}

@font-face {
  font-family: "Clash Display Medium";
  src: url("/fonts/ClashDisplay-Medium.woff2");
}

@font-face {
  font-family: "Clash Display Medium";
  src: url("/fonts/ClashDisplay-Medium.woff2");
}

@font-face {
  font-family: "Clash Display Bold";
  src: url("/fonts/ClashDisplay-Bold.woff2");
}
@font-face {
  font-family: "Maru Mega Mini";
  src: url("/fonts/GT-Maru-Mega-Mini.otf");
}
@font-face {
  font-family: "Maru Black";
  src: url("/fonts/GT-Maru-Black.otf");
}
@font-face {
  font-family: "Maru Mono Bold";
  src: url("/fonts/GT-Maru-Mono-Bold.otf");
}
@font-face {
  font-family: "Haitham Display Thin";
  src: url("/fonts/Haitham-DisplayThin.otf");
}
@font-face {
  font-family: "Haitham Display Bold";
  src: url("/fonts/Haitham-DisplayBold.otf");
}
@font-face {
  font-family: "Haitham Display SemiBold Italic";
  src: url("/fonts/Haitham-DisplaySemiBoldItalic.otf");
}

:root {
  --dark-gray: #111;
  --black: #202025;
  --gray: #c4c4c4;
  --white: #fff;
  --primary: #ccb280;
  --light-primary: #eedfc2;
  --bb-black: #202025;
  --bb-beige: #ccb280;
  --bb-beige-hover: #eedfc2;
  --bb-beige-light: #faf6f0;
  --bb-beige-dark: #bb9f69;
  --bb-gray: #86868f;
  --bb-light: #eee;
  --bb-white: #fff;
  --bb-attention: #f06;
  --bb-success: #04c488;
  --bb-dirty: rgb(204 178 128 / 30%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mint Grotesk Regular", "Noto Sans JP", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 62.5%;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  background-color: rgb(0 0 0 / 0%);
}

h1 {
  margin-top: 10rem;
  font-family: "Mint Grotesk ExtraBold", "Noto Sans JP", sans-serif;
  font-size: 5.4rem;
  font-weight: 900;
  line-height: 1.2;

  @media (max-width: 960px) {
    margin-top: 8rem;
    font-size: 4.8rem;
  }

  @media (max-width: 670px) {
    font-size: 3.5rem;
  }

  @media (max-width: 520px) {
    margin-top: 5rem;
    font-size: 2.7rem;
  }
}

h2 {
  font-family: "Mint Grotesk ExtraBold", "Noto Sans JP", sans-serif;
  font-size: 4.8rem;
  font-weight: 900;

  @media (max-width: 960px) {
    font-size: 4.2rem;
  }

  @media (max-width: 520px) {
    font-size: 2.7rem;
  }
}

h3 {
  font-family: "Mint Grotesk ExtraBold", "Noto Sans JP", sans-serif;
  font-size: 3.2rem;
  font-weight: 900;

  @media (max-width: 960px) {
    font-size: 2.7rem;
  }

  @media (max-width: 520px) {
    font-size: 1.8rem;
  }
}

h4 {
  font-family: "Mint Grotesk Bold", "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;

  @media (max-width: 520px) {
    font-size: 1.4rem;
  }
}

h5 {
  font-family: "Mint Grotesk ExtraBold", "Noto Sans JP", sans-serif;
  font-size: 2.4rem;
  font-weight: 900;

  @media (max-width: 520px) {
    font-size: 2.1rem;
  }
}

h6 {
  font-family: "Mint Grotesk ExtraBold", "Noto Sans JP", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 0.025rem;

  @media (max-width: 520px) {
    font-size: 1rem;
  }
}

p,
div,
span {
  font-family: "Mint Grotesk Medium", "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

::selection {
  background-color: var(--bb-beige);
}

.board {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  opacity: 1;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 300ms;
}

.markdown {
  margin: 50px 48px;

  @media (max-width: 520px) {
    margin: 20px;
  }

  p {
    margin-top: 1rem;
    font-family: "Mint Grotesk Regular", "Noto Sans JP", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.7;
    text-align: justify;
    letter-spacing: 0.02em;

    code {
      padding: 0.25rem 0.5rem;
      font-size: 1.3rem;
      word-break: break-all;
      background-color: var(--bb-light);
      border-radius: 5px;
    }

    strong {
      font-family: "Mint Grotesk Bold", "Noto Sans JP", sans-serif;
      font-weight: 700;
    }
  }

  ol {
    @apply list-decimal;

    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 1.7;
  }

  p,
  ol {
    a {
      color: var(--bb-black);
      text-decoration: underline;
      text-underline-offset: 0.1em;
      transition: all 0.5s cubic-bezier(0.33, 1, 0.68, 1);

      &:hover {
        color: var(--bb-beige);
      }
    }
  }
}

.markdown h2 {
  margin-bottom: 4rem;
  @media (max-width: 520px) {
    margin-bottom: 2rem;
  }
}

.markdown h3 {
  padding-top: 3rem;
  margin-top: 8rem;
  margin-bottom: 2.5rem;
  border-top: 1px solid var(--bb-light);
}

.markdown h4 {
  padding-top: 15rem;
  margin-top: -12rem;
  margin-bottom: -0.5rem;
}

.markdown ul {
  @apply list-disc;
}

.markdown ul,
.markdown ol {
  @apply ml-8;
}

.markdown img {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 1px solid var(--light-primary);
  border-radius: 15px;
}

.markdown li > p,
.markdown li > ul,
.markdown li > ol {
  @apply mb-0;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none; /* Firefox 対応 */
}

.scrollbar-hidden::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}

.minimal-toolbar_container {
  display: none !important;
}
