.button {
  font-family: "Mint Grotesk Bold", "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 700;
  border: none;
  transition: all 0.5s cubic-bezier(0.33, 1, 0.68, 1);

  &.normal {
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 5px;
    color: var(--bb-white);
    background-color: var(--bb-black);

    &:hover {
      background-color: var(--bb-gray);
      box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
    }

    &:active {
      background-color: var(--bb-black);
      box-shadow: none;
    }
  }

  &.small {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--black);
    background-color: var(--primary);

    &:hover {
      background-color: var(--bb-beige-hover);
      box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
    }

    &:active {
      background-color: var(--bb-beige-dark);
      box-shadow: none;
    }
  }

  &.primary {
    height: 40px;
    font-size: 14px;
    padding: 6px 15px;
    border-radius: 15px;
    color: var(--black);
    background-color: var(--primary);

    &:hover {
      background-color: var(--bb-beige-hover);
      box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
    }

    &:active {
      background-color: var(--bb-beige-dark);
      box-shadow: none;
    }
  }
}

.light {
  background-color: var(--bb-white) !important;
  border: 1px solid var(--bb-beige) !important;

  &:hover {
    background-color: var(--bb-beige-hover) !important;
  }

  &:active {
    background-color: var(--bb-beige-active) !important;
  }
}

.container {
  position: relative;
}

.tooltip {
  position: absolute;
  padding: 8px;
  left: 50%;
  top: -50%;
  transform: translate(-50%, -50%);
  background-color: var(--bb-white);
  border: 1px solid var(--bb-beige);
  font-size: 10px;
  font-family: "Mint Grotesk Medium", "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 700;
  color: var(--bb-beige);
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 2px 7px rgb(0 0 0 / 10%);
  transition: all 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}

.tooltipEnter,
.tooltipExit {
  transform: translate(-50%, calc(-50% + 10px));
  opacity: 0;
}
