.selectContainer {
  position: relative;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    background-color: var(--bb-beige);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    pointer-events: none;
  }

  &::after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 8px;
    right: 10px;
    border-right: 1px solid var(--bb-black);
    border-bottom: 1px solid var(--bb-black);
    transform: rotate(45deg);
    pointer-events: none;
  }

  select {
    width: 194px;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid var(--light-primary);
    background-color: rgb(255 255 255 / 0%);
    border-radius: 5px;
    appearance: none;
    position: relative;
  }

  option {
    height: 30px;
    padding: 5px 10px;
    border: 1px solid var(--light-primary);
    border-radius: 5px;
  }
}
