.selectContainer {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    pointer-events: none;
    content: "";
    background-color: var(--bb-beige);
    border-radius: 5px;
  }

  &::after {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 8px;
    height: 8px;
    pointer-events: none;
    content: "";
    border-right: 1px solid var(--bb-black);
    border-bottom: 1px solid var(--bb-black);
    transform: rotate(45deg);
  }

  select {
    position: relative;
    width: 194px;
    height: 30px;
    padding: 5px 10px;
    background-color: rgb(255 255 255 / 0%);
    border: 1px solid var(--light-primary);
    border-radius: 5px;
    appearance: none;
  }

  .input {
    height: 30px;
    padding: 5px 10px;
    font-family: "Mint Grotesk Regular", sans-serif;
    border: 1px solid var(--light-primary);
    border-radius: 5px;
  }
}
